* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 1600px;
}
/* shared style */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  /* border: 1px solid red;; */
}
.btn {
  background-color: #469165;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
/* ................................ */
header {
  max-width: 100%;
  height: 92px;
  /* border: 1px solid red; */
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 32px;
}
header nav .logo img {
  width: 139px;
  height: 60px;
  margin: 16px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}

/* ...........Banner......... */

#banner {
  background: linear-gradient(#11273c1f), url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 674px;
}
.banner-heading {
  padding: 115px 415px 179px;
  text-align: center;
}
.banner-heading .early-btn {
  background-color: #ffffff;
  color: #30b868;
  border-radius: 1000px;
  padding: 8px;
}
.banner-heading .structure {
  color: white;
  font-weight: bold;
  font-size: 72px;
}
.banner-heading .note {
  color: #30b868;
  font-weight: bold;
  font-size: 72px;
}
.banner-heading p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.banner-heading .see-btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 16px;
  border-radius: 4px;
  color: white;
}
.double-btn .start-btn {
  margin-right: 16px;
}

/* ...........card............. */

.card-section {
  background-color: #f7f6f2;
  height: 448px;
  /* border:1px solid red */
}
.card-description {
  padding-top: 64px;
  margin: 0 auto;
  text-align: center;
}
.card-description h2 {
  font-size: 48px;
  color: #001931;
  font-weight: bold;
  margin-bottom: 16px;
}
.card-description p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 38px;
}
.card-section .card-subject .card-group {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: flex-end;
}
.card-section .card-subject .card-group .card {
  background-color: #ffffff;
  width: 322px;
  height: 300px;
  text-align: center;
  border-radius: 8px;
  /* border: 1px solid red; */
}
.card img {
  padding: 15px;
  background-color: #f95555;
  border-radius: 50%;
  margin-top: 69px;
  margin-bottom: 16px;
}

.card-section .card-subject .card-group .card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  line-height: auto;
  margin-bottom: 16px;
}
.card-section .card-subject .card-group .card p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.card img {
  padding: 15px;
  background-color: #f95555;
  border-radius: 50%;
}
